@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/media_queries";

.card {
  display: flex;
  flex-direction: column;

  width: 90%;

  @include respond(tablet) {
    width: 80%;
  }

  margin: 0 auto;

  z-index: 600;
}

.date_section {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 3.5px solid $black-primary;
  font-size: 2.5rem;

  &:first-child {
    text-align: left;
  }
  &:not(:first-child) {
    text-align: right;
  }
}

.card_body {
  display: flex;
  flex-direction: column;
  box-shadow: 4px 4px 12px 4px rgba($black-secondary, 0.4);

  @include respond(landscapePhone) {
    flex-direction: row;
    min-height: 24rem;
  }

  &__title {
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
    // height: 100%;

    @include respond(landscapePhone) {
      width: 50%;
    }
    @include respond(laptop) {
      justify-content: flex-start;
    }

    & > * {
      text-align: center;
      font-family: $font-head;
      color: $white-primary;
    }

    & > strong {
      display: block;
      margin: 0 auto;
      text-transform: capitalize;
      font-size: 2.5rem;
      margin-top: 1.5rem;
    }

    & > span {
      display: block;
      margin: 0 auto;
      text-transform: capitalize;
      font-size: 2.25rem;
      margin-top: 1rem;
      margin-bottom: 2rem;
    }

    & > a {
      @include buttonOutline($white-primary);
      margin-bottom: 2rem;

      @include respond(landscapePhone) {
        margin-bottom: 0;
      }

      background: rgba($black-secondary, 0.4);
    }
  }

  &__summary {
    padding: 0.75rem;
    background: $white-primary;
    padding-bottom: 2rem;

    @include respond(landscapePhone) {
      width: 50%;
      padding-bottom: 0.75rem;
    }
  }
}

.cta_section {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 3.5px solid $black-primary;

  display: flex;
  flex-direction: column;
  justify-content: center;

  &__edition {
    @include buttonSolid($black-primary);
    font-size: 2.8rem !important;
    margin-bottom: 1rem;
    padding: 1.5rem 3rem !important;

    @include respond(landscapePhone) {
      width: 100%;
      margin-bottom: 3rem;
      font-size: 3.6rem !important;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include respond(landscapePhone) {
      flex-direction: row;
    }

    & > a {
      @include buttonSolid($black-primary);
      font-size: 2.8rem !important;
      margin-bottom: 1rem;
      padding: 1.5rem 3rem !important;

      @include respond(landscapePhone) {
        margin-left: 1.5rem;
        margin-bottom: 0;
        width: 30%;
      }
    }
  }
}
