//colors

$white-primary: #ffffff;
$white-secondary: #eeeeee;

$black-primary: #000000;
$black-secondary: #2c2c2c;

//fonts

// $font-body: 'Lato', sans-serif;
// $font-head: 'Source Serif Pro', serif;

$font-body: "Helvetica", Sans-Serif;
$font-head: "Helvetica", Sans-Serif;

$default-font-size: 2.1rem;
