//colors

$white-primary: #FFFFFF;
$white-secondary: #EEEEEE;

$black-primary: #000000;
$black-secondary: #2C2C2C;

//fonts

$font-body: 'Lato', sans-serif;
$font-head: 'Source Serif Pro', serif;

$default-font-size: 2.1rem;