@import 'variables';
@import 'media_queries';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // font-size: 62.5%;

    // @include respond(tablet) {
    //     font-size: 70%;
    // }
    // @include respond(laptop) {
    //     font-size: 75%;
    // }
    // @include respond(desktop) {
    //     font-size: 78%;
    // }

    font-size: 62.5%;

    @include respond(tablet) {
        font-size: 65%;
    }
    @include respond(laptop) {
        font-size: 68.5%;
    }
    @include respond(desktop) {
        font-size: 71.5%;
    }

    scroll-behavior: smooth;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    box-sizing: border-box;
    font-family: $font-body;
    
    background: $white-secondary;
    color: $black-primary;

    font-size: $default-font-size;
}

h1 {
    font-family: $font-head;
}