@import "../styles/mixins";
@import "../styles/media_queries";
@import "../styles/variables";

.header {
    width: 100%;
    height: 40vh;
    background-image: linear-gradient(to bottom right,
        rgba($black-secondary, 0.6),
        rgba($black-secondary, 0.2)
    ), url('../images/bg_header.jpg');
    background-size: cover;
    background-position: center;

    & > h1 {
        text-align: center;
        color: $white-primary;
        position: relative;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include respond(landscapePhone) {
            top: 50%;
        }
    }
}

.toggle_buttons {
    position: absolute;
    top: 30vh;
    left: -5%;

    display: flex;
    flex-direction: row;

    transform: scale(0.8);

    z-index: 200;

    @include respond(largePhone) {
        left: 2.5%;
        transform: scale(0.9);
    }

    & > button {
        @include buttonOutline($white-primary);
        background: none;

        &:not(:last-child) {
            margin-right: 2rem;
        }
    }
}

.main_content {
    margin-bottom: 0.5rem;
    @include respond(laptop) {
        margin-right: 6rem;
    }
}

.button_active {
    background: rgba($black-secondary, 0.6) !important;
    font-weight: 800 !important;

    transition: all 300ms;
}