@import "../styles/variables";
@import "../styles/media_queries";

.layout {
    margin: 0 5%;
    margin-top: 8rem;

    @include respond (landscapePhone) {
        margin: 0 7.5%;
        margin-top: 8rem;
    }
    @include respond(tablet) {
        margin: 0 10%;
        margin-top: 8rem;
    }
    @include respond(laptop) {
        margin: 0 15%;
        margin-top: 8rem;
    }
}