@import "../styles/variables";
@import "../styles/media_queries";

.post_body {
    padding: 0;

    & > p {
        margin-bottom: 3rem;
        line-height: 2.8rem;
        font-weight: 600;

        color: $black-secondary;

        & > strong {
            color: $black-primary;
            text-decoration: underline;
        }

        & > a {
            color: #0074cc;
        }
    }
}